<div id="encabezado"></div>

<main class="form-signin">
  <form action="principal.html">
    <h1 class="h3 mb-3 fw-normal">Eliminar cuenta</h1>
    <div class="container">
      <div class="text-center">
        <p class="fs-6">Para continuar debe confirmar su clave
          Recuerde que si tiene pedidos activos no puede realizar la eliminación de la cuenta</p>
      </div>
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Contraseña</label>
      <input type="password" class="form-control">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Confirmar contraseña</label>
      <input type="password" class="form-control">
    </div>

    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-secundary-oak">Eliminar cuenta</button>
      </div>
      <div class="col text-center">
        <button type="submit" class="btn btn-primary-oak">Cancelar</button>
      </div>
    </div>
  </form>
</main>
<hr class="featurette-divider">
<div id="pie"></div>
