<app-menu></app-menu>
<main class="form-signin">
    <form (ngSubmit)="onUpload()">
        <h1 class="h3 mb-3 fw-normal">Categorías</h1>
        <div class="form-floating space-input-oak">
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            <label for="nombre">Nombre</label>
        </div>

        <div class="row space-input-oak ">
            <div class="col text-center">
                <button type="submit" class="btn btn-secundary-oak">Cancelar</button>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-primary-oak">Crear</button>
            </div>
        </div>
    </form>
</main>