<div id="encabezado"></div>

<main>
  <h1 class="p-3 h3 mb-3 text-start">Catálogo</h1>
  <div class="clearfix">
    <img src="src/product1.png" class="img-product col-md-6 float-md-start mb-3 ms-md-3" alt="Product 1">
    <div class="info-product-oak">
      <h1 class="p-3 h5 mb-3 text-start">Producto X tipo Y</h1>
      <form>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Color</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>Selecciona una opción</option>
              <option value="1">Verde</option>
              <option value="2">Rojo</option>
              <option value="3">Azul</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Precio</label>
          <div class="col-sm-10">
            <label class="col-sm-2 col-form-label">$10.000</label>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Categoría</label>
          <div class="col-sm-10">
            <label class="col-sm-2 col-form-label">Misceláneos</label>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Estado</label>
          <div class="col-sm-10">
            <label class="col-sm-2 col-form-label">En stock</label>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="submit" class=" btn btn-primary-oak">Comprar ahora</button>
          </div>
          <div class="col text-center">
            <button type="submit" class=" btn btn-primary-oak">Agregar al carrito</button>
          </div>
        </div>
        <h1 class="p-3 h6 mb-3 text-start">Descripción</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tortor augue pellentesque in pulvinar
          class, integer habitasse hac ac litora. Potenti at aliquam eleifend magnis purus nisi turpis
          maecenas mollis, sapien arcu aptent venenatis penatibus dictumst vitae torquent ornare diam,
          cras bibendum orci egestas porttitor sociis non rhoncus. Tempus mollis pellentesque habitant
          morbi eget vulputate, arcu quisque euismod sem mattis facilisis, pharetra justo primis volutpat
          nascetur.</p>
      </form>
    </div>
  </div>



</main>
<hr class="featurette-divider">
<div id="pie"></div>
