<app-menu></app-menu>

<main class="form-signin">
  <form  (ngSubmit)="onUpdate()" novalidate #f="ngForm" *ngIf="persona">
    <h1 class="h3 mb-3 fw-normal text-center">Mi cuenta</h1>
    <div class="form-floating space-input-oak">
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
      <label for="nombre">Nombres</label>
    </div>
    <div class="form-floating space-input-oak">
      <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="persona.telefono" required>
      <label for="telefono">Teléfono</label>
    </div>
    <fieldset disabled>
    <div class="form-floating space-input-oak">
      <input type="text" class="form-control" id="correo" name="correo" [(ngModel)]="persona.correo" required>
      <label for="correo">Correo</label>
    </div>
  </fieldset>
    <fieldset disabled>
    <div class="form-floating space-input-oak">
      <input type="password" class="form-control" id="clave" name="clave" [(ngModel)]="persona.clave" required>
      <label for="clave">Clave</label>
    </div>
  </fieldset>

    <div class="row">
      <div class="col text-center">
        <button novalidate class="btn btn-primary-oak space-input-oak" [disabled]="!f.valid">Actualizar Cuenta</button>
      </div>
    </div>
  </form>
</main>

