<main>
<div class="container padding-container-oak">
  <h1 class="h3 mb-3 text-start">Usuarios</h1>
  <form class="d-flex" action="frm_nuevoUsuarioAdmin.html">
    <input class="form-control me-2" type="search" placeholder="Buscar usuario" aria-label="Buscar usuario">
    <button class="btn btn-primary-oak" type="submit">Buscar</button>
    <button class="btn btn-primary-oak" type="submit" style="margin-left: 10px;">Nuevo</button>
  </form>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Correo</th>
      <th scope="col">Nombres</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Rol</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">test1@gmail.com</th>
      <td>Mark</td>
      <td>314020202</td>
      <td>Vendedor</td>
      <td><a href="frm_editarUsuarioAdmin.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                     fill="none" stroke="black" stroke-width="2" stroke-linecap="round"
                                                     stroke-linejoin="round" class="feather feather-edit-3">
        <path d="M12 20h9"></path>
        <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
      </svg></a></td>
    </tr>
    <tr>
      <th scope="row">test2@gmail.com</th>
      <td>Jacob</td>
      <td>314020255</td>
      <td>Vendedor</td>
      <td><a href="frm_editarUsuarioAdmin.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                     fill="none" stroke="black" stroke-width="2" stroke-linecap="round"
                                                     stroke-linejoin="round" class="feather feather-edit-3">
        <path d="M12 20h9"></path>
        <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
      </svg></a></td>
    </tr>
    <tr>
      <th scope="row">test3@gmail.com</th>
      <td>Larry the Bird</td>
      <td>314020244</td>
      <td>Usuario</td>
      <td><a href="frm_editarUsuarioAdmin.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                     fill="none" stroke="black" stroke-width="2" stroke-linecap="round"
                                                     stroke-linejoin="round" class="feather feather-edit-3">
        <path d="M12 20h9"></path>
        <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
      </svg></a></td>
    </tr>
    </tbody>

  </table>
</div>

</main>
<hr class="featurette-divider">
<div id="pie"></div>
