<app-menu></app-menu>
<main>
    <div class="container p-2">
        <h1 class="h3 p-2 mb-2 fw-normal">Carrito</h1>

        <div class="row">

            <div class="container marketing col align-self-start">
                <div class="row" *ngFor="let producto of producto; index as i">
                    <div class="p-5 row row-cols-1 row-cols-md-3 ">
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{producto.imagenUrl}}" style="max-width: 150; max-height: 100;" class="card-img-top" alt="Papelería">
                                <div class=" col card-body">
                                    <h5 class="card-title">{{producto.nombre}}</h5>
                                    <p class="card-text">{{producto.descripcion}}</p>
                                    <p class="card-text">${{producto.precio}}</p>
                                    <div class="card-body d-flex justify-content-between">
                                        <button class="btn btn-primary-oak" (click)="eliminarProducto(producto.idProducto)"><i class="fas fa-plus-circle"></i> Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="p-3 bg-white col-4 align-self-start" style="width: 280px;">
                <div class="card h-100">
                    <h4 class="p-2">Resumen del pedido</h4>
                    <div class=" col card-body">
                        <div class="mb-3 row">
                            <label class=" col-form-label"><b>Subtotal</b></label>
                            <div>
                                <p class=" col-form-label">${{carrito.subTotal}}</p>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class=" col-form-label"><b>Toal</b></label>
                            <div>
                                <p class=" col-form-label">${{carrito.total}}</p>
                            </div>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <button type="submit" class=" btn btn-primary-oak" *ngIf="isLogged"><i class="fas fa-check"></i> Proceder con pedido</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>