<app-menu></app-menu>
<main>
  <div class="container padding-container-oak">
    <h1 class="h3 mb-3 text-start">Categorías</h1>
    <form class="d-flex" action="frm_nuevaCategoria.html">
      <input class="form-control me-2" type="search" placeholder="Buscar categoría" aria-label="Buscar categoría">
      <button class="btn btn-primary-oak" type="submit">Buscar</button>
      <button class="btn btn-primary-oak" type="submit" style="margin-left: 10px;">Nuevo</button>
    </form>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">ID categoría</th>
        <th scope="col">Descripción</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">232301</th>
        <td>Mark</td>
        <td><a href="frm_editarCategoriaAdmin.html">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="black" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-edit-3">
            <path d="M12 20h9"></path>
            <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
          </svg></a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="black" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round" class="feather feather-trash">
              <polyline points="3 6 5 6 21 6"></polyline>
              <path
                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
              </path>
            </svg></a>
        </td>
      </tr>
      <tr>
        <th scope="row">232302</th>
        <td>Jacob</td>
        <td><a href="frm_editarCategoriaAdmin.html">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="black" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-edit-3">
            <path d="M12 20h9"></path>
            <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
          </svg></a>
          <a href="frm_editarCategoriaAdmin.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="black" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round" class="feather feather-trash">
              <polyline points="3 6 5 6 21 6"></polyline>
              <path
                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
              </path>
            </svg></a>
        </td>
      </tr>
      <tr>
        <th scope="row">232303</th>
        <td>Larry the Bird</td>
        <td><a href="frm_editarCategoriaAdmin.html">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="black" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-edit-3">
            <path d="M12 20h9"></path>
            <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
          </svg></a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="black" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round" class="feather feather-trash">
              <polyline points="3 6 5 6 21 6"></polyline>
              <path
                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
              </path>
            </svg></a>
        </td>
      </tr>
      </tbody>

    </table>
  </div>

</main>
