<app-menu></app-menu>
<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
        <form (ngSubmit)="onRegister()" novalidate #f="ngForm">
          <h1 class="h3 mb-3 fw-normal text-center">Crear Usuario</h1>
          <div class="form-floating space-input-oak">
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            <label for="nombre">Nombres</label>
          </div>
          <div class="form-floating space-input-oak">
            <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono" required>
            <label for="telefono">Teléfono</label>
          </div>
          <div class="form-floating space-input-oak">
            <input type="text" class="form-control" id="correo" name="correo" [(ngModel)]="correo" required>
            <label for="correo">Correo</label>
          </div>
          <div class="form-floating space-input-oak">
            <input type="password" class="form-control" id="clave" name="clave" [(ngModel)]="clave" required>
            <label for="clave">Clave</label>
          </div>
          <div class="mb-3 space-input-oak">
            <label for="disabledTextInput" class="form-label">Rol</label>
            <select class="form-select" (change)="selectChangeHandler($event)">
              <option selected>Selecciona una opción</option>
              <option [value]="1">Administrador</option>
              <option [value]="2">Usuario</option>
              <option [value]="3">Vendedor</option>
            </select>
          </div>
          <div class="row">
            <div class="col text-center">
              <button type="submit" class="btn btn-secundary-oak space-input-oak" routerLink="/usuarios">Volver</button>
            </div>
            <div class="col text-center">
              <button novalidate class="btn btn-primary-oak space-input-oak btn-block" [disabled]="!f.valid">Crear cuenta</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</main>

