<div id="encabezado"></div>

<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Crear cuenta</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Correo electrónico</label>
    </div>

    <div class="form-floating space-input-oak">
      <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingInputValue">Nombres</label>
    </div>

    <div class="form-floating space-input-oak">
      <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingInputValue">Teléfono</label>
    </div>

    <div class="form-floating space-input-oak">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Confirmar contraseña</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary-oak" type="submit">Crear cuenta</button>
  </form>
</main>
<hr class="featurette-divider">
<div id="pie"></div>
