<app-menu></app-menu>
<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
        <form (ngSubmit)="onRegister()" novalidate #f="ngForm">
          <h1 class="h3 mb-3 fw-normal text-center">Crear cuenta</h1>
          <div class="form-floating space-input-oak">
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            <label for="nombre">Nombres</label>
          </div>
          <div class="form-floating space-input-oak">
            <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono" required>
            <label for="telefono">Teléfono</label>
          </div>
          <div class="form-floating space-input-oak">
            <input type="text" class="form-control" id="correo" name="correo" [(ngModel)]="correo" required>
            <label for="correo">Correo</label>
          </div>
          <div class="form-floating space-input-oak">
            <input type="password" class="form-control" id="clave" name="clave" [(ngModel)]="clave" required>
            <label for="clave">Clave</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary-oak space-input-oak btn-block" [disabled]="!f.valid">Crear cuenta</button>
        </form>
      </div>
    </div>

  </div>

</main>
