<div id="encabezado"></div>

<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Recordar clave</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Correo electrónico</label>
    </div>

    <div class="container padding-container-oak">
      <div class="text-center">
        <p class="fs-6">Se enviará un mensaje al correo electrónico ingresado para iniciar el proceso de restablecimiento de la contraseña</p>
      </div>
    </div>

    <button class="w-100 btn btn-lg btn-primary-oak" type="submit">Recordar clave</button>
  </form>
</main>
<hr class="featurette-divider">
<div id="pie"></div>
