<div id="encabezado"></div>

<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Cambiar contraseña</h1>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Confirmar contraseña</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary-oak" type="submit">Cambiar clave</button>
  </form>
</main>
<hr class="featurette-divider">
<div id="pie"></div>

