
<app-menu></app-menu>
<main>

  <div class="container">
    <h1 class="h3 p-3 mb-3 fw-normal">Catálogo</h1>
    <div class="row">
      <div class="p-3 bg-white col-4 align-self-start" style="width: 280px;">
        <a href="/"
           class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-5 fw-semibold">Filtrar por</span>
        </a>
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="true">
              Categoría
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Cuadernos</a></li>
                <li><a href="#" class="link-dark rounded">Maquillaje</a></li>
                <li><a href="#" class="link-dark rounded">Juguetes</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Precio
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Entre 0 y 10.000</a></li>
                <li><a href="#" class="link-dark rounded">Entre 10.000 y 20.000</a></li>
                <li><a href="#" class="link-dark rounded">Entre 20.000 y 30.000</a></li>
                <li><a href="#" class="link-dark rounded">Mayor a 30.000</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              Estado
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">En stock</a></li>
                <li><a href="#" class="link-dark rounded">Sin stock</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="container marketing col align-self-end">


        <div class="p-5 row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="../assets/product1.png" class="card-img-top" alt="Papelería">
              <div class="card-body">
                <h5 class="card-title">Papelería</h5>
                <p class="card-text">Producto X tipo Y</p>
                <p class="card-text">$5.000</p>
                <a href="frm_producto.html" class="btn btn-primary-oak">Agregar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/product2.png" class="card-img-top" alt="Cosméticos">
              <div class="card-body">
                <h5 class="card-title">Cosméticos</h5>
                <p class="card-text">Producto X tipo Y</p>
                <p class="card-text">$5.000</p>
                <a href="frm_producto.html" class="btn btn-primary-oak">Agregar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/product3.png" class="card-img-top" alt="Temáticos">
              <div class="card-body">
                <h5 class="card-title">Temáticos</h5>
                <p class="card-text">Producto X tipo Y</p>
                <p class="card-text">$5.000</p>
                <a href="frm_producto.html" class="btn btn-primary-oak">Agregar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/product4.png" class="card-img-top" alt="Papelería">
              <div class="card-body">
                <h5 class="card-title">Papelería</h5>
                <p class="card-text">Producto X tipo Y</p>
                <p class="card-text">$5.000</p>
                <a href="frm_producto.html" class="btn btn-primary-oak">Agregar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/product5.png" class="card-img-top" alt="Cosméticos">
              <div class="card-body">
                <h5 class="card-title">Cosméticos</h5>
                <p class="card-text">Producto X tipo Y</p>
                <p class="card-text">$5.000</p>
                <a href="frm_producto.html" class="btn btn-primary-oak">Agregar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/product6.png" class="card-img-top" alt="Temáticos">
              <div class="card-body">
                <h5 class="card-title">Temáticos</h5>
                <p class="card-text">Producto X tipo Y</p>
                <p class="card-text">$5.000</p>
                <a href="frm_producto.html" class="btn btn-primary-oak">Agregar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

