<app-menu></app-menu>
<main>
    <div class="container">
        <h1 class="h3 p-2 mb-2 fw-normal">Catálogo</h1>
        <div class="row">
            <div class="p-3 bg-white col-4 align-self-start" style="width: 280px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark
          text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
                    <span class="fs-5 fw-semibold">Filtrar por</span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Categoría
            </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a style="cursor:pointer;" class="link-dark rounded" (click)="cargarProductos()">Todas</a></li>
                                <li *ngFor="let categorias of categorias"><a style="cursor:pointer;" class="link-dark rounded" (click)="listarPorCategorias(categorias.nombre)">{{categorias.nombre}}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="container marketing col align-self-end">
                <div class="row">
                    <div class="p-5 row row-cols-1 row-cols-md-3 g-4">
                        <div class="col" *ngFor="let producto of producto; index as i">
                            <div class="card h-100">
                                <img src="{{producto.imagenUrl}}" style="max-width: 289; max-height: 192;" class="card-img-top" alt="Papelería">
                                <div class="card-body">
                                    <h5 class="card-title">{{producto.nombre}}</h5>
                                    <p class="card-text">{{producto.descripcion}}</p>
                                    <p class="card-text">${{producto.precio}}</p>
                                    <div class="card-body d-flex justify-content-between">
                                        <button class="btn btn-secundary-oak" routerLink="/ver-producto/{{producto.idProducto}}"><i class="far fa-eye"></i> Ver</button>
                                        <button *ngIf="isLogged && !(isAdmin || isVendedor)" class="btn btn-primary-oak" (click)="agregarProducto(producto.idProducto)"><i class="fas fa-plus-circle"></i> Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>