<app-menu></app-menu>
<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>
<ng-template #loggedOut>
    <main class="form-signin">
        <div class="container d-flex justify-content-center">

            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <h1 class="h3 mb-3 fw-normal text-center">Iniciar sesión</h1>

                <div class="form-floating space-input-oak">
                    <input type="text" class="form-control" id="correo" name="correo" [(ngModel)]="correo" required>
                    <label for="correo">Correo electrónico</label>
                </div>
                <div class="form-floating space-input-oak">
                    <input type="password" class="form-control" id="clave" name="clave" [(ngModel)]="clave" required>
                    <label for="clave">Contraseña</label>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <p><a routerLink="/registro" style="cursor: pointer" class="pe-auto link-oak">Crear cuenta</a></p>
                        </div>
                    </div>
                </div>

                <button class="w-100 btn btn-lg btn-primary-oak" [disabled]="!f.valid">Iniciar sesión</button>
            </form>
        </div>
        <div class="container">
            <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-2 text-center">Error al iniciar sesión: {{mensajeError}}
            </div>
        </div>

    </main>
</ng-template>